# Frontend Configuration

image:
  repository: sergeivf/idp-core-frontend
  tag: v5-fix
  pullPolicy: Always

service:
  type: ClusterIP
  port: 80
  targetPort: 80

ingress:
  enabled: true
  className: "nginx"
  host: "idp.filippov.world" # Replace with your domain 