# Frontend Configuration

image:
  repository: sergeivf/idp-core-frontend # Public demo image. Replace with your private registry for prod.
  tag: "latest" # This will be overwritten by CI
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80
  targetPort: 80

ingress:
  enabled: true
  className: "nginx"
  host: "idp.filippov.world" # Replace with your domain 

backendServiceName: idp-backend-backend