apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: {{ .Release.Name }}-db
spec:
  instances: 1 # Экономим ресурсы (в проде 2 или 3)
  
  # Используем ephemeral для скорости и чтобы не забивать квоты дисков
  # (В проде тут PVC)
  storage:
    type: ephemeral
    storageClass: ""
  
  bootstrap:
    initdb:
      database: idp_db
      owner: idp_user

  resources:
    requests:
      memory: "128Mi"
      cpu: "50m"
    limits:
      memory: "256Mi"
      cpu: "500m"