apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-backend
  labels:
    app: backend
spec:
  selector:
    app: backend
  ports:
  - name: http # <--- IMPORTANT: Must match 'port: http' in ServiceMonitor
    port: 80
    targetPort: 3000